
*.pdb
ConsoleMineSweeper/bin/Debug/netcoreapp3.1/ConsoleMineSweeper.dll
ConsoleMineSweeper/bin/Debug/netcoreapp3.1/ConsoleMineSweeper.pdb
ConsoleMineSweeper/bin/Debug/netcoreapp3.1/ConsoleMineSweeper.dll
ConsoleMineSweeper/bin/Debug/netcoreapp3.1/ConsoleMineSweeper.Core.pdb
ConsoleMineSweeper/bin/Debug/netcoreapp3.1/ConsoleMineSweeper.Core.dll
ConsoleMineSweeper.Test/obj/Debug/netcoreapp3.1/ConsoleMineSweeper.Test.pdb
ConsoleMineSweeper.Test/obj/Debug/netcoreapp3.1/ConsoleMineSweeper.Test.dll
ConsoleMineSweeper/obj/Debug/netcoreapp3.1/ConsoleMineSweeper.pdb
ConsoleMineSweeper/obj/Debug/netcoreapp3.1/ConsoleMineSweeper.dll
ConsoleMineSweeper/obj/Debug/netcoreapp3.1/ConsoleMineSweeper.csproj.FileListAbsolute.txt
ConsoleMineSweeper.Test/bin/Debug/netcoreapp3.1/nunit_random_seed.tmp
ConsoleMineSweeper.Test/bin/Debug/netcoreapp3.1/ConsoleMineSweeper.Test.pdb
ConsoleMineSweeper.Test/bin/Debug/netcoreapp3.1/ConsoleMineSweeper.Test.dll
ConsoleMineSweeper.Test/bin/Debug/netcoreapp3.1/ConsoleMineSweeper.Core.pdb
ConsoleMineSweeper.Test/bin/Debug/netcoreapp3.1/ConsoleMineSweeper.Core.dll
ConsoleMineSweeper.Core/obj/Debug/netstandard2.1/ConsoleMineSweeper.Core.pdb
ConsoleMineSweeper.Core/obj/Debug/netstandard2.1/ConsoleMineSweeper.Core.dll
